.main.container {
    padding: 40px;
}

.control-group {
    padding: 0 40px;
    display: flex;
    flex-direction: row-reverse;
}

.card-deck {
    padding: 60px 40px 60px 120px;
}

.card {
    padding: 20px 0;
    background-color: #1e213a;
}

.card i {
    padding-bottom: 15px;
}

.details {
    padding: 0 40px 0 120px;
}

.details .row {
    justify-content: space-between;
}

.row-cols-md-2 > * {
    max-width: 48%;
}